# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
+ Popular lanfuages for Data Science
+ Common libraries for Data Science
+ Data Science Tools
+ Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit Learn
4. Matplotlib

|Data Science Tools|
|------------------|
|R Studio|
|Jupyter Notebook|
|Hugging Face|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
hours = 200
minutes = hours/60

print(minutes)

3.3333333333333335

## Author
Helena Adam